<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wedeal.wedealproyect">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WeDeal"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registro_usuario">
        </activity>
        <activity
            android:name=".Dueno"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".crear_nuevo_empleado">
        </activity>
        <activity
            android:name=".crear_nuevo_cliente">
        </activity>
    </application>

</manifest>