<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wedeal.wedealproyect">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WeDeal"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registro_negocio">
        </activity>
        <activity
            android:name=".registro_particular">
        </activity>
        <activity
            android:name=".sesion_de_dueno"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".sesion_de_empleado"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".sesion_de_particular"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".crear_nuevo_empleado">
        </activity>

        <activity
            android:name=".ajustes_cerrar_sesion">

        </activity>

        <activity
            android:name=".crear_nuevo_cliente">
        </activity>

        <activity
            android:name=".crear_nuevo_producto">
        </activity>

        <activity
            android:name=".ajustes_permiso_especial">
        </activity>

        <activity
            android:name=".ajustes_modificar_empleado">
        </activity>

        <activity
            android:name=".ajustes_eliminar_empleado">
        </activity>

        <activity
            android:name=".ajustes_eliminar_proveedor">
        </activity>

        <activity
            android:name=".ajustes_eliminar_cliente">
        </activity>

        <activity
            android:name=".venta">
        </activity>

        <activity
            android:name=".venta_tramite">
        </activity>

        <activity
            android:name=".venta_carrito">
        </activity>

        <activity
            android:name=".crear_nuevo_proveedor">
        </activity>
        <activity
            android:name=".negocio_compras">
        </activity>
        <activity
            android:name=".negocio_compras_tramite">
        </activity>
        <activity
            android:name=".negocio_compras_carrito">
        </activity>
        <activity
            android:name=".solicitudes_confirmar">
        </activity>

        <activity
        android:name=".encargos_vistaproductos">
    </activity>

        <activity
            android:name=".in_frag_inventario_Fragment">
        </activity>


    </application>

</manifest>